<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
      <ion-title>Devvscape | CodeHumor</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <section class="form my-4">
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col-lg-12">
            <h1 class="font-weight-bold py-3 mx-5">Forgot Password</h1>
            <form [formGroup]="emailForm" class="p-4 p-md-5" (ngSubmit)="sendToken()">
              <ion-text>Don't worry! It happens. Please enter the email address associated with your account.</ion-text>
              <div class="form-row">
                <div class="col-lg-7">
                  <ion-input type="email" class="form-control my-3 p-1" formControlName="email"
                    placeholder="Email address"></ion-input>
                  <ion-text class="error" *ngIf="email && email.invalid && email.touched">
                    *Email address is required</ion-text>
                </div>
              </div>
              <div class="form-row">
                <div class="col-lg-7">
                  <button [disabled]="!emailForm.valid" class="btn mt-3 mb-5">Validate & Continue</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </ion-content>
</div>
