rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read access to all documents
    match /{document=**} {
      allow read: if true;
    }
    
    // Allow write access only to authenticated users for their own data in the "users" collection
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow write access only to authenticated users for the "posts" collection
    match /posts/{postId} {
      allow write: if request.auth != null;
      allow delete: if request.auth != null && request.auth.uid == resource.data.postedBy;
    }
    
    // Allow read and write access to comments for authorized users.
    match /posts/{postId}/comments/{commentId} {
      allow read, write: if request.auth != null;
    }
    
    // Allow write access only to authenticated users for the "reports" collection
    match /reports/{reportId} {
      allow write: if request.auth != null;
    }
    
    // Allow read and write access to notifications for authorized users.
    match /users/{userId}/notifications/{notificationId} {
      allow read, write: if request.auth != null;
    }
  }
}