<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12">
      <ion-searchbar
        class="section-header"
        show-cancel-button="focus"
        placeholder="{{ 'COMPONENTS.NAVBAR.SEARCH.TITLE' | transloco }}"
      ></ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>

  <ng-container id="preloader">
    <ion-spinner class="preloader"></ion-spinner>
  </ng-container>

  <!-- <ng-container>
    <swiper-container
      class="mySwiper"
      pagination="true"
      pagination-clickable="true"
      space-between="30"
      slides-per-view="2"
    >
      <swiper-slide>Slide 1</swiper-slide>
      <swiper-slide>Slide 2</swiper-slide>
      <swiper-slide>Slide 3</swiper-slide>
      <swiper-slide>Slide 4</swiper-slide>
      <swiper-slide>Slide 5</swiper-slide>
      <swiper-slide>Slide 6</swiper-slide>
      <swiper-slide>Slide 7</swiper-slide>
      <swiper-slide>Slide 8</swiper-slide>
      <swiper-slide>Slide 9</swiper-slide>
    </swiper-container>
  </ng-container> -->
  
</ion-content>
