<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row>
    <ion-col size="7">
      <h2 class="section-header">{{welcomeMessage}}</h2>
    </ion-col>
    <ion-col size="5">
      <button class="top-right-button" (click)="openProfile()">
        <ion-icon name="person-outline"></ion-icon>
      </button>
      <button class="top-right-button" (click)="openNotification()">
        <ion-icon name="notifications-outline"></ion-icon>
      </button>
      <button id="open-modal" class="top-right-button" (click)="openModal()">
        <ion-icon name="add-outline"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <ion-progress-bar
    *ngIf="images?.length === 0 && !errorOccurred"
    type="indeterminate"
  ></ion-progress-bar>

  <ng-container *ngIf="errorOccurred" class="error-message">
    <div class="error">An error occurred: {{ errorMessage }}</div>
  </ng-container>

  <ion-list>
    <app-image *ngFor="let image of images; trackBy: trackImage" [image]="image"></app-image>
  </ion-list>

  <ion-infinite-scroll>
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-modal
    #modal
    trigger="open-modal"
    [presentingElement]="presentingElement"
  >
    <ng-template>
      <ion-content class="ion-padding">
        <ion-row>
          <ion-col size="7">
            <h2 class="section-header">Create post</h2>
          </ion-col>
          <ion-col size="5">
            <button class="top-right-button" (click)="modal.dismiss()">
              <ion-icon name="close-outline"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <div class="image-card" *ngIf="!imageFile">
          <label for="imageInput" class="card-label">
            <div class="card-content">
              <i class="fas fa-upload"></i>
              <p>Click to select an image</p>
            </div>
          </label>
          <input
            type="file"
            id="imageInput"
            (change)="onFileSelected($event)"
            accept="image/*"
          />
        </div>

        <ion-button
          *ngIf="imageFile"
          class="cancel-button"
          fill="clear"
          (click)="cancelImageSelection()"
        >
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        <br />
        <div *ngIf="imageFile">
          <img [src]="imageSrc" [alt]="imageFile.name" class="selected-image" />
        </div>
        <ion-item-divider *ngIf="imageFile"></ion-item-divider>
        <ion-textarea
          *ngIf="imageFile"
          class="full-width-input"
          [(ngModel)]="postText"
          placeholder="Say something about the meme..."
          [maxlength]="300"
          [autoGrow]="true"
        ></ion-textarea>
        <div class="input-counter" *ngIf="imageFile">{{ postText.length }} / 300</div>
        <br /><br />
        <ion-button
          *ngIf="imageFile"
          expand="block"
          class="post-button"
          (click)="uploadImageAndPostText()"
        >
          Post
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
