<form [formGroup]="authForm" class="auth-form">
  <ion-item class="input-item" *ngIf="!isLoginPage">
    <ion-label position="stacked">{{ 'COMPONENTS.AUTH.AUTH-FORM.USERNAME' | transloco }}</ion-label> 
    <ion-input
      formControlName="username"
      type="text"
      placeholder="{{ 'COMPONENTS.AUTH.AUTH-FORM.USERNAME-PLACEHOLDER' | transloco }}"
      [class.invalid]="
        !authForm.controls['username'].valid &&
        authForm.controls['username'].touched
      "
    ></ion-input>
  </ion-item>
  <ion-item
    class="error-message"
    *ngIf="
      !authForm.controls['username'].valid &&
      authForm.controls['username'].touched
    "
  >
    <ion-label>{{ 'COMPONENTS.AUTH.AUTH-FORM.USERNAME-ERROR' | transloco }}</ion-label>
  </ion-item>

  <ion-item class="input-item">
    <ion-label position="stacked">{{ 'COMPONENTS.AUTH.AUTH-FORM.EMAIL' | transloco }}</ion-label>
    <ion-input
      appAutofill
      formControlName="email"
      type="email"
      placeholder="{{ 'COMPONENTS.AUTH.AUTH-FORM.EMAIL-PLACEHOLDER' | transloco }}"
      [class.invalid]="
        !authForm.controls['email'].valid && authForm.controls['email'].touched
      "
    ></ion-input>
  </ion-item>
  <ion-item
    class="error-message"
    *ngIf="
      !authForm.controls['email'].valid && authForm.controls['email'].touched
    "
  >
    <ion-label>{{ 'COMPONENTS.AUTH.AUTH-FORM.EMAIL-ERROR' | transloco }}</ion-label>
  </ion-item>

  <ion-item class="input-item" *ngIf="!isPasswordResetPage">
    <ion-label position="stacked">{{ 'COMPONENTS.AUTH.AUTH-FORM.PASSWORD' | transloco }}</ion-label>
    <ion-input
      appAutofill
      formControlName="password"
      type="password"
      placeholder="{{ 'COMPONENTS.AUTH.AUTH-FORM.PASSWORD-PLACEHOLDER' | transloco }}"
      [class.invalid]="
        !authForm.controls['password'].valid &&
        authForm.controls['password'].touched
      "
    ><ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
  </ion-item>
  <ion-item
    class="error-message"
    *ngIf="
      !authForm.controls['password'].valid &&
      authForm.controls['password'].touched &&
      !isPasswordResetPage
    "
  >
    <ion-label>{{ 'COMPONENTS.AUTH.AUTH-FORM.PASSWORD-ERROR' | transloco }}</ion-label>
  </ion-item>

  <ion-button
    (click)="submitCredentials(authForm)"
    expand="block"
    [disabled]="!authForm.valid"
    class="submit-button"
  >
    {{ actionButtonText }}
  </ion-button>
</form>
