<ion-content [fullscreen]="true" class="ion-padding bg-primary">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row>
    <ion-col size="2">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-col>
    <ion-col size="6">
      <h2 class="section-header">{{ 'COMPONENTS.AUTH.PROFILE.TITLE' | transloco }}</h2>
    </ion-col>
    <ion-col size="4">
      <button class="top-right-button" (click)="logOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <ion-item-group class="shadow-none rounded">
    <ion-item-divider>
      <ion-label>{{ 'COMPONENTS.AUTH.PROFILE.PROFILE' | transloco }}</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-avatar slot="start" (click)="changeDP()">
        <img alt="DP" [src]="user?.photoURL || generateAvatarUrl(user?.displayName || 'devvscape_user')" />
      </ion-avatar>
      <ion-label>
        <h2 (click)="user?.displayName ? null : updateDisplayName()"><b>{{ user?.displayName || "devvscape_user" }}</b></h2>
        <p (click)="updateEmail()">{{ user?.email }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>
        <p><b>{{ 'COMPONENTS.AUTH.PROFILE.JOINED' | transloco }}:</b> {{ user?.metadata.createdAt | date }}</p>
      </ion-label>
    </ion-item>
  </ion-item-group>
  
  <br />

  <ion-item-divider>
    <ion-label> {{ 'COMPONENTS.AUTH.PROFILE.ACTIVITY' | transloco }} </ion-label>
  </ion-item-divider>
  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="segmentChanged()">
    <ion-segment-button value="posts">
      <ion-label>{{ 'COMPONENTS.AUTH.PROFILE.TABS.POSTS' | transloco }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="comments">
      <ion-label>{{ 'COMPONENTS.AUTH.PROFILE.TABS.COMMENTS' | transloco }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="stars">
      <ion-label>{{ 'COMPONENTS.AUTH.PROFILE.TABS.STARS' | transloco }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="selectedSegment === 'posts'">
    <ng-container *ngIf="(images$ | async) as images">
      <ion-list *ngIf="images.length > 0">
        <ion-item *ngFor="let image of images" [detail]="false">
          <ion-card>
            <ion-item>
              <ion-avatar slot="start" (click)="openProfile(image.postedBy)">
                <img alt="DP" [src]="user?.photoURL || generateAvatarUrl(user?.displayName || 'devvscape_user')" />
              </ion-avatar>
              <ion-icon
                slot="end"
                name="trash-outline"
                (click)="deleteImage(image)"
              ></ion-icon>
              <ion-label>
                <h2>{{ image.displayName || "devvscape_user" }}</h2>
                <p>{{ image.createdAt | dateAgo }}</p>
              </ion-label>
            </ion-item>
  
            <div class="card" *ngIf="!imageLoaded">
              <div class="shimmer shimmer_large_para"></div>
            </div>
  
            <img
              (click)="openImage(image.id)"
              [src]="image.imageUrl"
              [alt]="image.postText"
              (load)="imageLoaded = true"
              style="position: relative"
              loading="lazy"
            />
  
            <ion-card-header>
              <ion-card-subtitle
                *ngIf="image.postText"
                [innerHTML]="formatCardSubtitle(image)"
              ></ion-card-subtitle>
              <a
                *ngIf="image.postText.length > 200"
                class="read-more"
                style="color: blue; text-decoration: none; cursor: pointer"
                (click)="toggleText()"
                >{{ isTextTruncated ? "Read More" : "Show Less" }}</a>
            </ion-card-header>
          </ion-card>
        </ion-item>
      </ion-list>
      <div class="no-posts" *ngIf="images.length === 0">
        You have never committed a meme to the app repository
      </div>
    </ng-container>
  </ng-container>
  

  <ng-container *ngIf="selectedSegment === 'comments'">
    <ng-container *ngIf="(userPostsComments$ | async) as comments">
      <ion-list *ngIf="comments.length > 0">
        <ion-item-sliding *ngFor="let comment of comments">
          <ion-item (click)="commentAction(comment)">
            <ion-label>
              <h3><b>{{ user?.displayName || "devvscape_user" }}</b></h3>
              <p class="comment-body">{{ comment.text }}</p>
              <p class="timestamp">{{ comment.createdAt | dateAgo }}</p>
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger">
              <ion-icon slot="icon-only" name="trash-outline" (click)="deleteComment(comment)"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <div class="no-comments" *ngIf="comments.length === 0">
        Comment on some memes in the app repository to have them here.
      </div>
    </ng-container>
  </ng-container>
  
  

  <ng-container *ngIf="selectedSegment === 'stars'">
    <div class="no-stars">
      Coming soon. Star on some memes in the app repository to have them here.
    </div>
  </ng-container>

</ion-content>