<ion-content [fullscreen]="true" class="bg-primary">
  <ion-row class="ion-padding-horizontal ion-padding-top">
    <ion-col size="2">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/home"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-col>
    <ion-col size="10">
      <h2 class="section-header">
        {{ 'COMPONENTS.NAVBAR.HOME.TABS.EXPLORE.NEWS' | transloco }}
      </h2>
    </ion-col>
  </ion-row>

  <ion-segment [(ngModel)]="activeTab" class="news-segment ion-padding-horizontal">
    <ion-segment-button value="new">
      <ion-label>
        <ion-icon name="sparkles-outline"></ion-icon>
        New
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="best">
      <ion-label>
        <ion-icon name="star-outline"></ion-icon>
        Best
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="top">
      <ion-label>
        <ion-icon name="trending-up-outline"></ion-icon>
        Top
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- New Stories -->
  <div *ngIf="activeTab === 'new'" class="story-list ion-padding">
    <div *ngIf="!(newStories$ | async)?.length" class="spinner-wrap">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
    <ion-card *ngFor="let story of newStories$ | async; let i = index" class="story-card" (click)="openUrl(story.url)">
      <ion-card-content>
        <div class="story-index">{{ i + 1 }}</div>
        <div class="story-body">
          <h2 class="story-title">{{ story.title }}</h2>
          <div class="story-meta">
            <span class="meta-left">
              <ion-icon name="person-outline"></ion-icon>
              {{ story.by }}
            </span>
            <span class="meta-right">
              <ion-icon name="arrow-redo-outline"></ion-icon>
              {{ story.score }} pts
            </span>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Best Stories -->
  <div *ngIf="activeTab === 'best'" class="story-list ion-padding">
    <div *ngIf="!(bestStories$ | async)?.length" class="spinner-wrap">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
    <ion-card *ngFor="let story of bestStories$ | async; let i = index" class="story-card" (click)="openUrl(story.url)">
      <ion-card-content>
        <div class="story-index">{{ i + 1 }}</div>
        <div class="story-body">
          <h2 class="story-title">{{ story.title }}</h2>
          <div class="story-meta">
            <span class="meta-left">
              <ion-icon name="person-outline"></ion-icon>
              {{ story.by }}
            </span>
            <span class="meta-right">
              <ion-icon name="arrow-redo-outline"></ion-icon>
              {{ story.score }} pts
            </span>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Top Stories -->
  <div *ngIf="activeTab === 'top'" class="story-list ion-padding">
    <div *ngIf="!(topStories$ | async)?.length" class="spinner-wrap">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
    <ion-card *ngFor="let story of topStories$ | async; let i = index" class="story-card" (click)="openUrl(story.url)">
      <ion-card-content>
        <div class="story-index">{{ i + 1 }}</div>
        <div class="story-body">
          <h2 class="story-title">{{ story.title }}</h2>
          <div class="story-meta">
            <span class="meta-left">
              <ion-icon name="person-outline"></ion-icon>
              {{ story.by }}
            </span>
            <span class="meta-right">
              <ion-icon name="arrow-redo-outline"></ion-icon>
              {{ story.score }} pts
            </span>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
