<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/forgot-password"></ion-back-button>
    </ion-buttons>
      <ion-title>Devvscape | CodeHumor</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <section class="form my-4">
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col-lg-12">
            <h1 class="font-weight-bold py-3 mx-5">Reset Password</h1>
            <form [formGroup]="passwordForm" class="p-4 p-md-5" (ngSubmit)="resetPassword()">
              <ion-text>Let's get you all started and setup your profile :)</ion-text>
              <div class="form-row">
                <div class="col-lg-7">
                  <ion-input type="text" class="form-control my-3 p-1" formControlName="token" placeholder="Token"></ion-input>
                  <ion-text class="error" *ngIf="token && token.invalid && token.touched">*Token is
                    required</ion-text>
                    <ion-text class="error" *ngIf="token.errors?.cannotContainWhitespace">*Token cannot contain spaces</ion-text>
                </div>
              </div>
              <div class="form-row">
                <div class="col-lg-7">
                  <ion-input type="password" class="form-control my-3 p-1" formControlName="password" placeholder="Password"></ion-input>
                  <ion-text class="error" *ngIf="password && password.invalid && password.touched">*Password is
                    required</ion-text>
                </div>
              </div>
              <div class="form-row">
                <div class="col-lg-7">
                  <ion-input type="password" class="form-control my-3 p-1" formControlName="confirmpassword"
                    appConfirmEqualValidator="password" placeholder="Confirm password"></ion-input>
                    <ion-text class="error" *ngIf="passwordMatchError">*Password do not match</ion-text>
                </div>
              </div>
              <div class="form-row">
                <div class="col-lg-7">
                  <button [disabled]="!passwordForm.valid" class="btn mt-3 mb-5">Reset Password</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </ion-content>
</div>
