<ion-item [detail]="false">
  <ion-card>
    <ion-item>
      <!-- <ion-avatar slot="start" (click)="openProfile(image.postedBy)">
      <img
        alt="DP"
        src="https://ionicframework.com/docs/img/demos/avatar.svg"
      />
    </ion-avatar> -->
      <!-- <ion-icon
        slot="end"
        [name]="image.likedBy.includes(currentUser) ? 'star' : 'star-outline'"
        (click)="likeImage(image)"
      ></ion-icon> -->
      <ion-icon
        slot="end"
        name="cloud-download-outline"
        (click)="downloadImage(image)"
      ></ion-icon>
      <ion-icon
        slot="end"
        name="ellipsis-vertical-outline"
        (click)="imageDropdown(image)"
      ></ion-icon>
      <ion-label>
        <h2>{{ image.displayName || "devvscape_user" }}</h2>
        <p>{{ image.createdAt | dateAgo }}</p>
      </ion-label>
    </ion-item>

    <div class="card" *ngIf="!imageLoaded">
      <div class="shimmer shimmer_large_para"></div>
    </div>

    <img
      [src]="image.imageUrl"
      [alt]="image.postText"
      (load)="imageLoaded = true"
      style="position: relative"
    />

    <ion-card-header>
      <!-- <ion-card-subtitle *ngIf="image.stars > 0">
      <ng-container *ngIf="image.stars > 1; else singleLiker">
        {{ image.stars }} stars
      </ng-container>
      <ng-template #singleLiker>
        {{ image.stars }} star
      </ng-template>
    </ion-card-subtitle>
    <ion-card-subtitle *ngIf="!image.stars">
      Be the first to star this
    </ion-card-subtitle> -->

      <ion-card-subtitle
        *ngIf="image.postText"
        [innerHTML]="formatCardSubtitle(image)"
      ></ion-card-subtitle>
      <a
        *ngIf="image.postText.length > 200"
        class="read-more"
        style="color: blue; text-decoration: none; cursor: pointer"
        (click)="toggleText()"
        >{{ isTextTruncated ? "Read More" : "Show Less" }}</a
      >
    </ion-card-header>
  </ion-card>
</ion-item>