<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Devvscape - Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="form my-4">
    <div class="container-fluid text-center ">
      <div class="row no-gutters">
        <div class="col-lg-12">
          <h1 class="font-weight-bold py-3 mx-5">Create account</h1>
          <form [formGroup]="signupForm" class="p-4 p-md-5" (ngSubmit)="onSignUp()">
            <div class="form-row">
              <div class="col-lg-7">
                <ion-input type="email" class="form-control my-3 p-3" formControlName="email" placeholder="Email address"></ion-input>
                <ion-text class="error" *ngIf="email && email.invalid && email.touched">*Email address is required</ion-text>
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <ion-input type="text" class="form-control my-3 p-3" formControlName="username" placeholder="Username"></ion-input>
                <ion-text class="error" *ngIf="username && username.invalid && username.touched">*Username is
                  required</ion-text>
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <ion-input type="password" class="form-control my-3 p-3" formControlName="password" placeholder="Password"></ion-input>
                <ion-text class="error" *ngIf="password && password.invalid && password.touched">*Password is
                  required</ion-text>
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <ion-input type="password" class="form-control my-3 p-3" formControlName="confirmpassword"
                  appConfirmEqualValidator="password" placeholder="Confirm password"></ion-input>
                <ion-text class="error" *ngIf="passwordMatchError">*Password do not match</ion-text>
                <br>
                <ion-text class="error"
                  *ngIf="confirmpassword && confirmpassword.invalid && confirmpassword.touched">*Confirm password is
                  required</ion-text>
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <ion-textarea type="text" class="form-control my-3 p-3" formControlName="bio"
                  placeholder="About you"></ion-textarea>
                <ion-text class="error" *ngIf="bio && bio.invalid && bio.touched">*Bio is required</ion-text>
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <button [disabled]="!signupForm.valid" class="btn mt-3 mb-5">Sign up</button>
              </div>
            </div>
            <!-- <a href="">Forgot password</a> -->
            <ion-text class="lead">Already have an account? <a href="/login">Login</a></ion-text>
          </form>
        </div>
      </div>
    </div>
  </section>
</ion-content>