<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="7">
      <h2 class="section-header">
        {{ 'COMPONENTS.NAVBAR.SETTINGS.TITLE' | transloco }}
      </h2>
    </ion-col>
    <ion-col size="5"> </ion-col>
  </ion-row>
  <ion-item-divider>
    <ion-label>
      {{ 'COMPONENTS.NAVBAR.SETTINGS.APP-SETTINGS' | transloco }}
    </ion-label>
  </ion-item-divider>
  <ion-item-group class="shadow-none rounded">
    <ion-item id="open-settings-modal" lines="none">
      <ion-icon name="language" slot="start"></ion-icon>
      <ion-label
        >{{ 'COMPONENTS.NAVBAR.SETTINGS.LANGUAGE.TITLE' | transloco
        }}</ion-label
      >
      <ion-text class="text-muted">{{selectedLanguage | uppercase}}</ion-text>
      <ion-icon name="chevron-forward" slot="end"></ion-icon>
    </ion-item>
  </ion-item-group>

  <ion-modal
    trigger="open-settings-modal"
    [initialBreakpoint]="0.3"
    [breakpoints]="[0, 0.75]"
    handleBehavior="cycle"
  >
    <ng-template>
      <div class="block">
        <ion-list>
          <ion-radio-group
            [(ngModel)]="selectedLanguage"
            (ionChange)="changeLanguage($event.detail.value)"
          >
            <ion-list-header>
              <ion-label
                >{{ 'COMPONENTS.NAVBAR.SETTINGS.LANGUAGE.SELECT_LANGUAGE' |
                transloco }}</ion-label
              >
            </ion-list-header>

            <ion-item *ngFor="let lang of languages">
              <ion-radio
                value="space-between"
                justify="space-between"
                [value]="lang"
                >{{ 'COMPONENTS.NAVBAR.SETTINGS.LANGUAGE.' + lang.toUpperCase()
                | transloco }}</ion-radio
              >
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </div>
    </ng-template>
  </ion-modal>

  <ion-item-group class="shadow-none rounded">
    <ion-item-divider>
      <ion-label>
        {{ 'COMPONENTS.NAVBAR.SETTINGS.SUPPORT&INFO' | transloco }}
      </ion-label>
    </ion-item-divider>

    <ion-item
      class="ion-activated"
      (click)="openWithSystemBrowser('https://play.google.com/store/apps/details?id=com.silkwebhq.devvscapecode')"
    >
      <ion-icon name="share-social-sharp" slot="start"></ion-icon>
      <ion-label
        >{{ 'COMPONENTS.NAVBAR.SETTINGS.REVIEW&SHARE' | transloco }}</ion-label
      >
    </ion-item>
    <ion-item
      (click)="openWithInAppBrowser('https://l00pinfinity.vercel.app/terms.html')"
    >
      <ion-icon name="document-outline" slot="start"></ion-icon>
      <ion-label
        >{{ 'COMPONENTS.NAVBAR.SETTINGS.TERMS&CONDITIONS' | transloco
        }}</ion-label
      >
    </ion-item>
    <ion-item
      class="ion-activated"
      (click)="openWithInAppBrowser('https://l00pinfinity.vercel.app/privacy.html')"
    >
      <ion-icon name="document-lock-outline" slot="start"></ion-icon>
      <ion-label
        >{{ 'COMPONENTS.NAVBAR.SETTINGS.PRIVACY' | transloco }}</ion-label
      >
    </ion-item>
    <ion-item>
      <ion-icon name="code-sharp" slot="start"></ion-icon>
      <ion-label
        >{{ 'COMPONENTS.NAVBAR.SETTINGS.VERSION' | transloco }}</ion-label
      >
      <ion-text class="text-muted">v.{{currentVersion}}</ion-text>
    </ion-item>
  </ion-item-group>

  <ion-item-group class="shadow-none rounded">
    <ion-item-divider>
      <ion-label>
        {{ 'COMPONENTS.NAVBAR.SETTINGS.DEVELOPERS' | transloco }}
      </ion-label>
    </ion-item-divider>

    <ion-item
      class="ion-activated"
      (click)="openWithSystemBrowser('https://github.com/l00pinfinity/devvscape-code-humor')"
    >
    <ion-icon name="code-slash-outline" slot="start"></ion-icon>
      <ion-label>{{ 'COMPONENTS.NAVBAR.SETTINGS.BUGS' | transloco }}</ion-label>
    </ion-item>

    <ion-item
      class="ion-activated"
      (click)="openWithSystemBrowser('https://github.com/l00pinfinity/devvscape-code-humor/issues/new')"
    >
    <ion-icon name="git-compare-outline" slot="start"></ion-icon>
      <ion-label>{{ 'COMPONENTS.NAVBAR.SETTINGS.ISSUES' | transloco }}</ion-label>
    </ion-item>

  </ion-item-group>

  <ion-item-group class="shadow-none rounded">
    <ion-item-divider>
      <ion-label>
        {{ 'COMPONENTS.NAVBAR.SETTINGS.ACCOUNT-MANAGEMENT' | transloco }}
      </ion-label>
    </ion-item-divider>
    <ion-item-group class="shadow-none rounded">
      <ion-item class="ion-activated" (click)="closeAccount()" lines="none">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label
          >{{ 'COMPONENTS.NAVBAR.SETTINGS.DELETE' | transloco }}</ion-label
        >
      </ion-item>
    </ion-item-group>
  </ion-item-group>

  <ion-footer>
    <ion-text class="center"
      >{{ 'COMPONENTS.NAVBAR.SETTINGS.TAGLINE' | transloco }}</ion-text
    >
    <br /><br /><br />
  </ion-footer>
</ion-content>
