<ion-content [fullscreen]="true" class="ion-padding bg-primary">
  <app-error-banner
    [errorMessage]="errorMessage"
    [showError]="showError"
    (dismissError)="dismissError()"
  ></app-error-banner>

  <ion-row>
    <ion-col size="7">
      <h2 class="section-header">
        {{ 'COMPONENTS.NAVBAR.SETTINGS.TITLE' | transloco }}
      </h2>
    </ion-col>
    <ion-col size="5"> </ion-col>
  </ion-row>

  <!-- App Settings -->
  <div class="settings-group">
    <p class="group-label">
      {{ 'COMPONENTS.NAVBAR.SETTINGS.APP-SETTINGS' | transloco }}
    </p>

    <div class="settings-card">
      <div class="settings-row" id="open-settings-modal">
        <div class="row-icon lang-icon">
          <ion-icon name="language"></ion-icon>
        </div>
        <div class="row-body">
          <span class="row-title"
            >{{ 'COMPONENTS.NAVBAR.SETTINGS.LANGUAGE.TITLE' | transloco }}</span
          >
          <span class="row-sub">{{ selectedLanguage | uppercase }}</span>
        </div>
        <ion-icon name="chevron-forward" class="row-chevron"></ion-icon>
      </div>
    </div>
  </div>

  <!-- Notifications -->
  <div class="settings-group">
    <p class="group-label">Notifications</p>
    <div class="settings-card">
      <div class="settings-row">
        <div class="row-icon notif-icon">
          <ion-icon name="notifications"></ion-icon>
        </div>
        <div class="row-body">
          <span class="row-title">Push Notifications</span>
          <span class="row-sub">Posts, comments, security alerts</span>
        </div>
        <ion-toggle
          [(ngModel)]="pushEnabled"
          (ionChange)="savePushPref()"
        ></ion-toggle>
      </div>
      <div class="settings-row">
        <div class="row-icon sound-icon">
          <ion-icon name="volume-high"></ion-icon>
        </div>
        <div class="row-body">
          <span class="row-title">Notification Sound</span>
        </div>
        <ion-toggle
          [(ngModel)]="soundEnabled"
          (ionChange)="saveSoundPref()"
        ></ion-toggle>
      </div>
    </div>
  </div>

  <!-- Support & Info -->
  <div class="settings-group">
    <p class="group-label">
      {{ 'COMPONENTS.NAVBAR.SETTINGS.SUPPORT&INFO' | transloco }}
    </p>
    <div class="settings-card">
      <div
        class="settings-row"
        (click)="openWithSystemBrowser('https://play.google.com/store/apps/details?id=com.silkwebhq.devvscapecode')"
      >
        <div class="row-icon share-icon">
          <ion-icon name="share-social-sharp"></ion-icon>
        </div>
        <div class="row-body">
          <span class="row-title"
            >{{ 'COMPONENTS.NAVBAR.SETTINGS.REVIEW&SHARE' | transloco }}</span
          >
        </div>
        <ion-icon name="chevron-forward" class="row-chevron"></ion-icon>
      </div>
      <div
        class="settings-row"
        (click)="openWithInAppBrowser('https://l00pinfinity.vercel.app/terms.html')"
      >
        <div class="row-icon doc-icon">
          <ion-icon name="document-outline"></ion-icon>
        </div>
        <div class="row-body">
          <span class="row-title"
            >{{ 'COMPONENTS.NAVBAR.SETTINGS.TERMS&CONDITIONS' | transloco
            }}</span
          >
        </div>
        <ion-icon name="chevron-forward" class="row-chevron"></ion-icon>
      </div>
      <div
        class="settings-row"
        (click)="openWithInAppBrowser('https://l00pinfinity.vercel.app/privacy.html')"
      >
        <div class="row-icon lock-icon">
          <ion-icon name="document-lock-outline"></ion-icon>
        </div>
        <div class="row-body">
          <span class="row-title"
            >{{ 'COMPONENTS.NAVBAR.SETTINGS.PRIVACY' | transloco }}</span
          >
        </div>
        <ion-icon name="chevron-forward" class="row-chevron"></ion-icon>
      </div>
      <div class="settings-row" (click)="clearCache()">
        <div class="row-icon cache-icon">
          <ion-icon name="trash-bin-outline"></ion-icon>
        </div>
        <div class="row-body"><span class="row-title">Clear Cache</span></div>
        <ion-icon name="chevron-forward" class="row-chevron"></ion-icon>
      </div>
      <div class="settings-row no-action">
        <div class="row-icon ver-icon">
          <ion-icon name="code-sharp"></ion-icon>
        </div>
        <div class="row-body">
          <span class="row-title"
            >{{ 'COMPONENTS.NAVBAR.SETTINGS.VERSION' | transloco }}</span
          >
        </div>
        <span class="row-value">v{{ currentVersion }}</span>
      </div>
    </div>
  </div>

  <!-- Developers -->
  <div class="settings-group">
    <p class="group-label">
      {{ 'COMPONENTS.NAVBAR.SETTINGS.DEVELOPERS' | transloco }}
    </p>
    <div class="settings-card">
      <div
        class="settings-row"
        (click)="openWithSystemBrowser('https://github.com/silkwebhq/devvscape-code-humor')"
      >
        <div class="row-icon dev-icon">
          <ion-icon name="code-slash-outline"></ion-icon>
        </div>
        <div class="row-body">
          <span class="row-title"
            >{{ 'COMPONENTS.NAVBAR.SETTINGS.BUGS' | transloco }}</span
          >
        </div>
        <ion-icon name="chevron-forward" class="row-chevron"></ion-icon>
      </div>
      <div
        class="settings-row"
        (click)="openWithSystemBrowser('https://github.com/silkwebhq/devvscape-code-humor/issues/new')"
      >
        <div class="row-icon issue-icon">
          <ion-icon name="git-compare-outline"></ion-icon>
        </div>
        <div class="row-body">
          <span class="row-title"
            >{{ 'COMPONENTS.NAVBAR.SETTINGS.ISSUES' | transloco }}</span
          >
        </div>
        <ion-icon name="chevron-forward" class="row-chevron"></ion-icon>
      </div>
    </div>
  </div>

  <!-- Account -->
  <div class="settings-group">
    <p class="group-label">
      {{ 'COMPONENTS.NAVBAR.SETTINGS.ACCOUNT-MANAGEMENT' | transloco }}
    </p>
    <div class="settings-card">
      <div class="settings-row danger-row" (click)="closeAccount()">
        <div class="row-icon danger-icon">
          <ion-icon name="lock-closed-outline"></ion-icon>
        </div>
        <div class="row-body">
          <span class="row-title danger-text"
            >{{ 'COMPONENTS.NAVBAR.SETTINGS.DELETE' | transloco }}</span
          >
        </div>
        <ion-icon name="chevron-forward" class="row-chevron"></ion-icon>
      </div>
    </div>
  </div>

  <ion-modal
    trigger="open-settings-modal"
    [initialBreakpoint]="0.3"
    [breakpoints]="[0, 0.75]"
    handleBehavior="cycle"
  >
    <ng-template>
      <div class="block">
        <ion-list>
          <ion-radio-group
            [(ngModel)]="selectedLanguage"
            (ionChange)="changeLanguage($event.detail.value)"
          >
            <ion-list-header>
              <ion-label
                >{{ 'COMPONENTS.NAVBAR.SETTINGS.LANGUAGE.SELECT_LANGUAGE' |
                transloco }}</ion-label
              >
            </ion-list-header>
            <ion-item *ngFor="let lang of languages">
              <ion-radio justify="space-between" [value]="lang">
                {{ 'COMPONENTS.NAVBAR.SETTINGS.LANGUAGE.' + lang.toUpperCase() |
                transloco }}
              </ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </div>
    </ng-template>
  </ion-modal>

  <ion-footer class="ion-no-border">
    <ion-text class="footer-tag"
      >{{ 'COMPONENTS.NAVBAR.SETTINGS.TAGLINE' | transloco }}</ion-text
    >
    <br /><br /><br />
  </ion-footer>
</ion-content>
