<ion-content class="content">
  <ion-row class="content-header">
    <ion-col size="2">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-col>
    <ion-col size="10">
      <h2 class="section-header">{{ 'COMPONENTS.AUTH.LOGIN.TITLE' | transloco }}</h2>
    </ion-col>
  </ion-row>

  <app-auth-form
    #loginForm
    (formSubmitted)="loginUser($event)"
    [actionButtonText]="'Login'"
    [isLoginPage]="true"
  ></app-auth-form>

  <ion-button expand="block" fill="clear" routerLink="/reset-password">
    {{ 'COMPONENTS.AUTH.LOGIN.FORGOT-PASSWORD' | transloco }}
  </ion-button>

  <div class="or-container">
    <div class="line"></div>
    <span>{{ 'COMPONENTS.AUTH.LOGIN.OR' | transloco }}</span>
    <div class="line"></div>
  </div>

  <ion-button expand="block" fill="clear" routerLink="/signup">
    {{ 'COMPONENTS.AUTH.LOGIN.SIGNUP' | transloco }}
  </ion-button>
</ion-content>