<ion-content [fullscreen]="true" *ngIf="image">
    <ion-row>
      <ion-col size="2">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
      <ion-col size="6">
        <h2 class="section-header">Image by User11</h2>
      </ion-col>
    </ion-row>
  <ion-item>
    <ion-icon name="person-circle" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        {{ image.postedBy }}
        <span class="date">
          <ion-note>{{ image.createdAt }}</ion-note>
        </span>
      </h2>
    </ion-label>
  </ion-item>
  
  <div class="ion-padding">
    <h1>{{ image.postText }}</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="image">
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
      <ion-label>
        <h2>{{ image.postedBy }}</h2>
      </ion-label>
    </ion-item>
    <img [src]="image.imageUrl" [alt]="image.postText" />
    <ion-card-header *ngIf="image.postText">
      <ion-card-subtitle>{{ image.postText }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-card-subtitle>{{ image.stars }} stars</ion-card-subtitle>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
