<ion-header>
  <ion-toolbar>
    <ion-title>Devvscape | View </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="/assets/myImg.png" alt="" loading="lazy" animated style="min-height: 35vh"></ion-img>
    <ion-card-header>
      <ion-card-title>Admin</ion-card-title>
      <ion-card-subtitle>If promoted</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-button fill="solid">Download</ion-button>
        <ion-icon name="heart" slot="end"></ion-icon>
        <ion-icon name="comment" slot="end"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>