<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Devvscape | CodeHumor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Devvscape | CodeHumor
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="images$" id="showImages">
    <br>
    <ion-card *ngFor="let image of images$" class="memeCard" (click)="onSelect(image)">
      <!--(click)="presentActionSheet()"-->
      <ion-img src="{{image.imageUrl || loadingAsset}}" alt="{{image.id}}" loading="lazy"></ion-img>
      <ion-card-content>
        <ion-text>Posted on {{image.createdAt | date}}</ion-text>
        <!-- <ion-icon name="happy-outline" slot="end" (click)="like(image)">{{image.likes}}</ion-icon> -->
        <!-- <ion-icon name="share" slot="end" (click)="share(image)">{{image.views}}</ion-icon> -->
        <!-- <ion-icon name="eye-outline" slot="end" (click)="download(image)"></ion-icon> -->
      </ion-card-content>
    </ion-card>
    <br>
  </ion-list>

  <!-- Skeleton -->
  <ion-list *ngIf="!images$">
    <br>
    <ion-card>
      <ion-skeleton-text animated style="height: 50vh"></ion-skeleton-text>
      <div class="card-body">
        <ion-skeleton-text animated style="height: 5vh"></ion-skeleton-text>
      </div>
    </ion-card>
    <br>
    <ion-card>
      <ion-skeleton-text animated style="height: 50vh"></ion-skeleton-text>
      <div class="card-body">
        <ion-skeleton-text animated style="height: 5vh"></ion-skeleton-text>
      </div>
    </ion-card>
    <br>
    <ion-card>
      <ion-skeleton-text animated style="height: 50vh"></ion-skeleton-text>
      <div class="card-body">
        <ion-skeleton-text animated style="height: 5vh"></ion-skeleton-text>
      </div>
    </ion-card>
    <br>
  </ion-list>

  <ion-card class="endScroll" *ngIf="images$">
    <ion-text color="secondary">
      <p class="text-center">You've reached the end! 👋, pull down to refresh</p>
    </ion-text>
  </ion-card>
</ion-content>