ion-content {
  --padding-top: 40px;
}

.section-header {
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 30px;
}

.top-right-button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 25px;
  font-family: "Spotify";
  font-weight: bold;
  float: right;
  margin-right: 10px;
  margin-bottom: 30px;
  margin-top: 18px;
}

.secondary-button {
  margin-top: 10px;
  color: #007bff;
}

.or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.or-container .line {
  width: 100px;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
}

.or-container span {
  white-space: nowrap;
}

ion-toolbar{
  margin: 4px;
  padding: 4px;
  text-align: center;
  justify-content: center;
}
